<h1><%= @flat.name %> </h1>
<h3> <%= @flat.address %></h3>
<ul>
  <li> <%= @flat.description %></li>
  <li> <%= "#{@flat.price_per_night} € "%></li>
  <li> <%= @flat.number_of_guests %></li>
</ul>

<%= link_to "Back to list", flats_path %>
